* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
  }
  
  .specialistSection {
    width: auto;
    height: auto;
    background-color: #e7f0ff;
    overflow: hidden;
    padding: 5%;
  }
  .lowerSection {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 70px;
  }
  
  .lowText {
    font-size: 20px;
    color: #102851;
  }
  
  .lowerImages {
    border-radius: 8px;
    background-color: #fafbfe;
    padding: 25px;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%; /* Ensures the content fills the grid cell */
  }
  .imageContainer {
    display: grid;
    grid-template-columns: repeat(4, 1fr); /* 4 equal columns */
    grid-auto-rows: 1fr; /* Ensure rows are auto-sized equally */
    gap: 20px; /* Adds space between grid items */
    padding: 0% 5%;
  }
  
  .lowerImages:hover {
    cursor: pointer;
  }
  
  /* Adjustments for smaller screens */
  @media screen and (max-width: 1050px) {
      .imageContainer {
        grid-template-columns: repeat(3, 1fr); /* Changes grid to 3 columns on smaller screens */
      }
    }
    
    @media screen and (max-width: 850px) {
      .imageContainer {
        grid-template-columns: repeat(2, 1fr); /* Changes grid to 2 columns */
      }
    }
    
    @media screen and (max-width: 650px) {
      .imageContainer {
        grid-template-columns: 1fr; /* Stacks images in a single column for very small screens */
      }